What is Webdriver?
A set of Web API's that are a part of the Selenium Project that
allow you to do 'Native Interactions' with a browser in a variety of
programming languages.

Simulate User Interactions in a Browser..
